{% extends 'base.html'  %}

{% block content  %}
{% csrf_token %}
<style>
  .filter-wrapper{
    margin-bottom: 0;
  }
  .table-wrapper{
    height:calc(100vh - 129px)
  }
  .switch{
    width: auto;
    height: auto;
  }
  .progressive_wrapper{
    display: grid;
    grid-template-columns: .2fr 1fr;
    align-items: center;
    width: 200px;
    font-size: 12px;
    font-weight: 500;
  }
</style>
<main class="main-non-attempted">
  <div class="non_attempt_select_wrapper">
    <div class="filter-wrapper" {% if request.user.user_level != 9  %} style="display: none;"{% endif %}>
      <p class="m-0">Select Agent Name</p>
      <div class="select2-wrapper">
        <select class="np-select"  name="np-select" style="width: 100%;">
          <option value="">Select</option>
          {% for i in u  %}
          <option value="{{i.username}}">{{i.username}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="filter-wrapper">
      <p class="m-0">Select List_id</p>
      <div class="select2-wrapper">
        <select class="np-select" name="list-select"  style="width: 100%;">
          <option value="all">Select</option>
          {% for i in l_id %}
          <option value="{{i.listid}}">{{i.listid}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% if request.user.user_level == 1 %}
    <div class="progressive_wrapper" >
      <label class="switch">
        <input type="checkbox" id="togglepro">
        <span class="slider round"></span>
      </label>
      <span class="pro_span">Progressive Dialing</span>
    </div>
    {% endif %}
  </div>

  <div class="table-wrapper table-responsive">
      <table class="table table-borderless  rounded">
        <thead class="sticky-top">
          <tr>
            <th scope="col">Lead id</th>
            <th scope="col">Borrower Name</th>
            <th scope="col">Phone no.</th>
            <th scope="col">Loan no.</th>
            <th scope="col">Caller ID</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
</main>

<script>
  $('.header-title').html("Non-attempted")

  function agn(){
    var data=new FormData()
    data.append("agent",$("select[name=np-select]").val())
    data.append("list_id",$("select[name=list-select]").val())
            
    $.ajax({
      method: "POST",
      headers: {
                "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
      url: "{% url 'non_attempted'  %}",
      data: data,
      datatype:'json',
      processData: false,
      contentType: false,
      beforeSend: function() {
             $('.loader__wrapper').css({"display":"block"})
      }, 
      success: function (data) {
        let v=data.data
        output=''
        $('tbody').empty()
        // if (v != undefined ){
        for(var i in v){
          $("tbody").append(`  <tr class='clickable-row dashhover' data-href="/cms?id=${v[i].id}&render=non_attempted" style="cursor: pointer;">
                    <td style="font-size: 12px;">${v[i].id}<input type="hidden" class="id22" value=${v[i].id}></td>
                    <td style="font-size: 12px;">${v[i].name}</td>
                    <td style="font-size: 12px;">${v[i].mobile_no}</td>
                    <td style="font-size: 12px;">${v[i].agreement_no}</td>
                    <td style="font-size: 12px;text-transform: uppercase;">${v[i].caller_name}</td>
                </tr>`)
          }

          $('.loader__wrapper').css({"display":"none"})

      
      },

        });
      }
    $(document).ready(function () {
      agn()
      
    $(".non-atmp").addClass("active-page")
      $(document).on('click','.clickable-row',function() {
      window.location = $(this).data("href");
    });

    $("select[name=np-select]").change(function(){
      console.log("change",$("select[name=np-select]").val())
      agn()
    })

    $("select[name=list-select]").change(function(){
         agn()
    })


    
///////////////////////////////////////////////progressive start///////////////////////////////////////
  $('#togglepro').on('change', function() {
    console.log("toggler")
      if ($(this).is(':checked')) {

        let ls = []
        $('.id22').each(function(){
          ls.push($(this).val())
        })
        console.log(ls)
        sessionStorage.setItem('non_attmp_ids', JSON.stringify(ls));
        sessionStorage.setItem('progressive', JSON.stringify("on"));
        var progressive = JSON.parse(sessionStorage.getItem('progressive'));
        var get_id_list = JSON.parse(sessionStorage.getItem('non_attmp_ids'));
        console.log(get_id_list.length)

        if (progressive == "on" && get_id_list.length > 0){
          window.location.href = `/cms?id=${get_id_list[0]}&progressive=true&render=non_attempted`
        }
        
        // Do something when the checkbox is checked
        
      }else{
        sessionStorage.setItem('progressive', JSON.stringify("off"));
        // sessionStorage.setItem('non_attmp_ids', JSON.stringify("off"));
        sessionStorage.removeItem('non_attmp_ids');
        var lsFromSession = JSON.parse(sessionStorage.getItem('non_attmp_ids'));
        console.log(lsFromSession)
        var progressive = JSON.parse(sessionStorage.getItem('progressive'));
        console.log(progressive)

      }
  })
///////////////////////////////////////////////progressive end///////////////////////////////////////


  })
</script>
{% endblock content  %}
