<script>

  const rshtml = (id,name,acno,amount,dt,cn,dispo) => {
return component = `<a href="/cms?id=${id}&render=recovery" class="recovery-wrapper">
<div class="svg-icon">
  <input type="hidden" value=${id} class="id22"/>
<img src="/static/images/recovery_icon.svg" alt="">
</div>
<div class="">
<div class="data-card-title"> Name</div>
<div class="data-card-content">${name}</div>
</div>
<div class="">
<div class="data-card-title">Agreement No.</div>
<div class="data-card-content2">${acno}</div>
</div>
<div class="">
<div class="data-card-title">Loan Amount</div>
<div class="data-card-content2">${amount}</div>
</div>
<div class="">
<div class="data-card-title">Contacted Date & Time</div>
<div class="data-card-content2">${dt}</div>
</div>
<div class="">
<div class="data-card-title">Caller Name </div>
<div class="data-card-content2">${cn}</div>
</div>
<div class="">
<div class="data-card-title">Sub-disposition </div>
<div class="data-card-content2">${dispo}</div>
</div>
</a>`
}

const recovery_count = () => {

const data2 = new FormData();

rem = []

$("input[name=remcb]:checkbox:checked").each(function() {
rem.push($(this).val());
})
data2.append('tdate',$('input[name=tdate]').val())
data2.append('fdate',$('input[name=fdate]').val())
data2.append('sortval',rem)
console.log($('input[name=tdate]').val(),$('input[name=fdate]').val())


$.ajax({
method: 'post',
headers: {
"X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
},
url: "{% url 'recovery_count' %}",
datatype:'json',
data:data2,
processData: false,
contentType: false,
success: function (data) {
$('.dispo_count').each(function(){
$(this).html(" ")
})

// console.log(data.data)
let ct = data.data
console.log('gshgsgs',ct)
for (var i = 0;i<data.data.length;i++){
  $('#checkboxess').find(`input[value = "${ct[i].sub_disposition}"]`).next().children().next().html(`${ct[i].the_count}`)
}
}
})

}  

function dataSubmit(btnval) {
  var data = new FormData();

  let rem = []
  
  $("input[name=remcb]:checkbox:checked").each(function() {
      rem.push($(this).val());
  })
  console.log(rem,"reeeeeeeeeeee")
  
  data.append('tdate',$('input[name=tdate]').val())
  data.append('fdate',$('input[name=fdate]').val())
  data.append('sortval',rem)
  
  sessionStorage.setItem('sortval2',rem)
  sessionStorage.setItem('rsfdate',$('input[name=fdate]').val())
  sessionStorage.setItem('rstdate',$('input[name=tdate]').val())


  $.ajax({
      method: 'POST',
      headers: {
          "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
      },
      url: "{% url 'filterrs' %}",
      data: data,
      datatype:'json',
      processData: false,
      contentType: false,
      beforeSend: function() {
          $('.loader__wrapper').css({"display":"block"})
      },
      success: function (data) {
          let x = data.data
          console.log(x)
          // console.log("reeeemme",rem)
         
          $('.main-data-wrapper').empty()
          
          if (x.length < 1){
             $('.loader__wrapper').css({"display":"none"})
              return 1
          }
          if (x != undefined){
              
              $('.bigdiv').css({'min-height':'auto'})
          for (var i in x){
              
              let dtFormat = new Intl.DateTimeFormat('en-US',{
                              month:'short',
                              day:'2-digit',
                              year:'numeric',
                              hour: 'numeric',
                              minute:'numeric',
                              second:'numeric',
                              hour12:false
                          })

          let d = x[i].contacted_dt

          d = new Date(d);
          d = dtFormat.format(d)

          amount = x[i].main_amount
          amount ? amount = "Rs"+" "+parseInt(amount).toLocaleString("en-US", {style:"currency", currency:"INR",maximumFractionDigits: 0}).replace(/₹/gi, '') : amount = "Rs 0"
          
          $('.main-data-wrapper').append(rshtml(x[i].id,x[i].name,x[i].agreement_no,amount,d,x[i].caller_name,x[i].sub_disposition))
          
        }
      }
      $('.loader__wrapper').css({"display":"none"})

    },
    complete:function(){
      recovery_count()
    }
  })
}


$(document).ready(function(){

dataSubmit() 

$('input[name=fdate]').change(function(){
  dataSubmit()
})
$('input[name=tdate]').change(function(){
  dataSubmit()
})

$('input[name="remcb"]').click(function(){
  dataSubmit()
})

///////////////////////////////////////////////progressive start///////////////////////////////////////
  $('#togglepro').on('change', function() {
    console.log("toggler")
      if ($(this).is(':checked')) {

        let ls = []
        $('.id22').each(function(){
          ls.push($(this).val())
        })
        console.log(ls)
        sessionStorage.setItem('non_attmp_ids', JSON.stringify(ls));
        sessionStorage.setItem('progressive', JSON.stringify("on"));
        var progressive = JSON.parse(sessionStorage.getItem('progressive'));
        var get_id_list = JSON.parse(sessionStorage.getItem('non_attmp_ids'));
        console.log(get_id_list.length)

        if (progressive == "on" && get_id_list.length > 0){
          window.location.href = `/cms?id=${get_id_list[0]}&progressive=true&render=recovery`
        }
        
        // Do something when the checkbox is checked
        
      }else{
        sessionStorage.setItem('progressive', JSON.stringify("off"));
        // sessionStorage.setItem('non_attmp_ids', JSON.stringify("off"));
        sessionStorage.removeItem('non_attmp_ids');
        var lsFromSession = JSON.parse(sessionStorage.getItem('non_attmp_ids'));
        console.log(lsFromSession)
        var progressive = JSON.parse(sessionStorage.getItem('progressive'));
        console.log(progressive)

      }
  })
///////////////////////////////////////////////progressive end///////////////////////////////////////


})
</script>
