<script>
  $(document).ready(function(){

  // -----------Reminder filteration start-------
  
  let class_tl = ""

  if (`{{request.user.user_level}}` == 9){
      class_tl = "tl_wrapper"
    }
  
  const cbkhtml = (id,name,acno,tos,cname,dispo,d) =>{
      return component = `<a href="/cms?id=${id}&render=reminder" class="callback-wrapper ${class_tl}">
    <div class="svg-icon">
      <img src="/static/images/callback_icon.svg" alt="">
    </div>
    <div class="">
      <div class="data-card-title">Name</div>
      <div class="data-card-content">${name}</div>
    </div>
    <div class="">
      <div class="data-card-title">Agreement No.</div>
      <div class="data-card-content2">${acno}</div>
    </div>
    <div class="">
      <div class="data-card-title">Loan Amount</div>
      <div class="data-card-content2">Rs. ${tos}</div>
    </div>
    <div class="">
      <div class="data-card-title">Disposition</div>
      <div class="data-card-content2">${dispo}</div>
    </div>
    <div class="">
      <div class="data-card-title">Reminder Set for</div>
      <div class="data-card-content2">${d}</div>
    </div>
    <div class="user_wrapper ${class_tl}">
      <div class="data-card-title">Caller ID</div>
      <div class="data-card-content2">${cname}</div>
    </div>
  </a> `
  }

  const schhtml = (id,name,acno,tos,cname,dispo,d) =>{
      return component = `<a href="/cms?id=${id}&render=reminder" class="callsch-wrapper  ${class_tl}">
    <div class="svg-icon">
      <img src="/static/images/callsch_icon.svg" alt="">
    </div>
    <div class="">
      <div class="data-card-title">Name</div>
      <div class="data-card-content">${name}</div>
    </div>
    <div class="">
      <div class="data-card-title">Agreement No.</div>
      <div class="data-card-content2">${acno}</div>
    </div>
    <div class="">
      <div class="data-card-title">Loan Amount</div>
      <div class="data-card-content2">Rs. ${tos}</div>
    </div>
    <div class="">
      <div class="data-card-title">Disposition</div>
      <div class="data-card-content2">${dispo}</div>
    </div>
    <div class="">
      <div class="data-card-title">Reminder Set for</div>
      <div class="data-card-content2">${d}</div>
    </div>
    <div class="user_wrapper ${class_tl}">
      <div class="data-card-title">Caller ID</div>
      <div class="data-card-content2">${cname}</div>
    </div>
  </a> `
  }

  const ptphtml = (id,name,acno,tos,cname,dispo,d) =>{
      return component = `<a href="/cms?id=${id}&render=reminder" class="ptp-wrapper  ${class_tl}">
    <div class="svg-icon">
      <img src="/static/images/ptp_icon.svg" alt="">
    </div>
    <div class="">
      <div class="data-card-title">Name</div>
      <div class="data-card-content">${name}</div>
    </div>
    <div class="">
      <div class="data-card-title">Agreement No.</div>
      <div class="data-card-content2">${acno}</div>
    </div>
    <div class="">
      <div class="data-card-title">Loan Amount</div>
      <div class="data-card-content2">Rs. ${tos}</div>
    </div>
    <div class="">
      <div class="data-card-title">Disposition</div>
      <div class="data-card-content2">${dispo}</div>
    </div>
    <div class="">
      <div class="data-card-title">Reminder Set for</div>
      <div class="data-card-content2">${d}</div>
    </div>
    <div class="user_wrapper ${class_tl}">
      <div class="data-card-title">Caller ID</div>
      <div class="data-card-content2">${cname}</div>
    </div>
  </a> `
  }



  function dataSubmit(dispo) {
      var data = new FormData();

          data.append('remfilter',$('input[name="filterval"]').val());
          data.append('tdate',$('input[name="todate"]').val())
          data.append('fdate',$('input[name="fdate"]').val())
          data.append('sortby',$('.rm-sortby').val())

          sessionStorage.setItem('remfilter',$('input[name="filterval"]').val())
          sessionStorage.setItem('sort',$('.rm-sortby').val())
          sessionStorage.setItem('fdate',$('input[name="fdate"]').val())
          sessionStorage.setItem('tdate',$('input[name="todate"]').val())
          
          $.ajax({
              method: 'POST',
              headers: {
              "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value,
              },
              url: "/filterrm",
              data: data,
              datatype:'json',
              processData: false,
              contentType: false,
              beforeSend: function() {
                  $('.loader__wrapper').css({"display":"block"})
              },
              success: function (data) {
                  let x = data.data
                  console.log(x,"ptp",data.ptp_ct,"cbk",data.cbk_ct,"scbk",data.scbk_ct,"all",data.all_ct)
                  // console.log(x)
                  $('.main-data-wrapper').empty()
                  if (data.all_ct == 0){
                    $("#allct").css({"display":"none"})
                  }
                  else{
                    $("#allct").html(data.all_ct)
                    $("#allct").css({"display":"block"})
                  }
                  if (data.scbk_ct == 0){
                    $("#sct").css({"display":"none"})
                  }
                  else{
                    $("#sct").css({"display":"block"})
                    $("#sct").html(data.scbk_ct)
                  }
                  if (data.ptp_ct == 0){
                    $("#pct").css({"display":"none"})
                  }
                  else{
                    $("#pct").html(data.ptp_ct)
                    $("#pct").css({"display":"block"})

                  }
                  if (data.cbk_ct ==0){
                    $("#cbt").css({"display":"none"})
                  }
                  else{
                      $("#cbt").html(data.cbk_ct)
                  }
      

                  if (x != undefined){
                      // $('.bigdiv').css({'min-height':'auto'})
                  for (var i in x){

                      let dtFormat = new Intl.DateTimeFormat('en-US',{
                                      month:'short',
                                      day:'2-digit',
                                      year:'numeric',
                                      hour: 'numeric',
                                      minute:'numeric',
                                      second:'numeric',
                                      hour12:false
                                  })
                      
                      let d = x[i].callback_datetime
                      d = new Date(d);
                      d = dtFormat.format(d)

                      amount = x[i].main_amount
                      amount ? amount = parseInt(amount).toLocaleString("en-US", {style:"currency", currency:"INR",maximumFractionDigits: 0}).replace(/₹/gi, '') : amount = "0"
                      
                      if (x[i].sub_disposition == "Call Back"){
                          $('.main-data-wrapper').append(cbkhtml(x[i].id,x[i].name,x[i].agreement_no,amount,x[i].caller_name,x[i].sub_disposition,d))
                      }

                      else if (x[i].sub_disposition == "Schedule Call"){
                          $('.main-data-wrapper').append(schhtml(x[i].id,x[i].name,x[i].agreement_no,amount,x[i].caller_name,x[i].sub_disposition,d))
                      }

                      else if (x[i].sub_disposition == "Promise To Pay"){
                          $('.main-data-wrapper').append(ptphtml(x[i].id,x[i].name,x[i].agreement_no,amount,x[i].caller_name,x[i].sub_disposition,d))
                      }
                      
                      

              }
          }
          $('.loader__wrapper').css({"display":"none"})

              }
          })
  }


      $('input[name="todate"]').change(function(){
          dataSubmit()
      })

      $('input[name="fdate"]').change(function(){
          dataSubmit()
      })

      $('input[name=remcb]').click(function(){

          dataSubmit()
      })
      
      $('.rm-sortby').change(function(){
        console.log("Sorting")
          dataSubmit()
      })

      
      $(document).ready(function(){

        if (`{{request.user.user_level}}` == 9){
          
        }

        dataSubmit()

        $(document).on('click','.cbk',function(){
          console.log("callback")
          $('input[name="filterval"]').val("Call Back")
         dataSubmit()
        })
        $(document).on('click','.scbk',function(){
          $('input[name="filterval"]').val("Schedule Call")
         dataSubmit()
        })
        $(document).on('click','.ptp',function(){
          $('input[name="filterval"]').val("Promise To Pay")
         dataSubmit()
        })
        $(document).on('click','.fall',function(){
          $('input[name="filterval"]').val("")
         dataSubmit()
        })

      })

  // -----------Reminder filteration end-------
  
  
     
  })

</script>