{% extends 'base.html'  %}

{% block content  %}
{% load static  %}
{% csrf_token  %}

<style>
    .st{
        height: 17px;
        width: 75px;
        /* background: rgb(13 110 253 / 10%); */
        border-radius: 20px;
        position: relative;
        margin: auto;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }
    .ball{
        height: 4px;
        width: 4px;
        border-radius: 50%;
        /* background: #0d6efd; */
    }
    .bat{
        font-size: 10px;
    }
</style>
<main class="main-reminder main-ots">
    <div class="searchdiv flex-wrap">
        <div class="searchlabel">
            <span class="sl">Name</span>
            <input type="text" name="name"  autocomplete="off"  class="searchinput">
        </div>
             

        <div class="searchlabel" style="margin: 0;"> 
            <span class="sl">Mobile No.</span>
            <input  type="tel" name="mobile_number" autocomplete="off" class="searchinput" onkeypress="return isNumber(event)" >
        </div>
           
        <div class="searchlabel"  style="margin: 0;">
            <span class="sl">Agreement No.</span>
            <input  type="tel" name="agreement_no"  autocomplete="off" class="searchinput" >
        </div>
         
                <button  type="button" class="searchbtn">Search</button>
            </div>

            <section class="table-wrapper">
                <header>
                    <span class="search_title">Status</span>
                    <span class="search_title">Lead Id</span>
                    <span class="search_title">Name</span>
                    <span class="search_title">Phone No.</span>
                    <span class="search_title">Agreement No.</span>
                    <span class="search_title">Attachment</span>
                </header>
                <div class="table_body">
                    <input type="hidden" value="{{request.user.module}}" name="user_module">
                </div>
            </section>

</main>

{% include 'search/search_ajax.html'  %}


{% endblock content  %}